<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <distributable/>
    <servlet>
        <servlet-name>MyUserProfiles</servlet-name>
        <servlet-class>MyUserProfiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopupSetting</servlet-name>
        <servlet-class>PopupSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendForgotPassword</servlet-name>
        <servlet-class>SendForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Announcement</servlet-name>
        <servlet-class>Announcement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLog</servlet-name>
        <servlet-class>AdminLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignout</servlet-name>
        <servlet-class>AdminSignout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeBoard</servlet-name>
        <servlet-class>NoticeBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPostAnnouncement</servlet-name>
        <servlet-class>AdminPostAnnouncement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUploadAnnouncement</servlet-name>
        <servlet-class>AdminUploadAnnouncement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiUpload</servlet-name>
        <servlet-class>MultiUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Part</servlet-name>
        <servlet-class>Part</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminIndex</servlet-name>
        <servlet-class>AdminIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilePath</servlet-name>
        <servlet-class>FilePath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPostNewsEvent</servlet-name>
        <servlet-class>AdminPostNewsEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMultiUploadNewsEvent</servlet-name>
        <servlet-class>AdminMultiUploadNewsEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastestNews</servlet-name>
        <servlet-class>LastestNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FullStory</servlet-name>
        <servlet-class>FullStory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopupPage</servlet-name>
        <servlet-class>PopupPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpload</servlet-name>
        <servlet-class>MyUploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllFiles</servlet-name>
        <servlet-class>ViewAllFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUploads</servlet-name>
        <servlet-class>MyUploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassUploadFile</servlet-name>
        <servlet-class>ClassUploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopupSetting</servlet-name>
        <url-pattern>/PopupSetting</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IOTemplate</servlet-name>
        <servlet-class>IOTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionString</servlet-name>
        <servlet-class>ConnectionString</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfiles</servlet-name>
        <servlet-class>UpdateUserProfiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEditeProfiles</servlet-name>
        <servlet-class>UpdateEditeProfiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LearningAreaVideos</servlet-name>
        <servlet-class>LearningAreaVideos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteRegistration</servlet-name>
        <servlet-class>CompleteRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sendmail</servlet-name>
        <servlet-class>Sendmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActivateCode</servlet-name>
        <servlet-class>GetActivateCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enscription</servlet-name>
        <servlet-class>Enscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecuteNonQ</servlet-name>
        <servlet-class>ExecuteNonQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuTop</servlet-name>
        <servlet-class>MenuTop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyUserProfiles</servlet-name>
        <url-pattern>/MyUserProfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IOTemplate</servlet-name>
        <url-pattern>/IOTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionString</servlet-name>
        <url-pattern>/ConnectionString</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfiles</servlet-name>
        <url-pattern>/UpdateUserProfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEditeProfiles</servlet-name>
        <url-pattern>/UpdateEditeProfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LearningAreaVideos</servlet-name>
        <url-pattern>/LearningAreaVideos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteRegistration</servlet-name>
        <url-pattern>/CompleteRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sendmail</servlet-name>
        <url-pattern>/Sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActivateCode</servlet-name>
        <url-pattern>/GetActivateCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enscription</servlet-name>
        <url-pattern>/Enscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecuteNonQ</servlet-name>
        <url-pattern>/ExecuteNonQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuTop</servlet-name>
        <url-pattern>/MenuTop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendForgotPassword</servlet-name>
        <url-pattern>/SendForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Announcement</servlet-name>
        <url-pattern>/Announcement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLog</servlet-name>
        <url-pattern>/Administration/AdminLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/Administration/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignout</servlet-name>
        <url-pattern>/Administration/AdminSignout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeBoard</servlet-name>
        <url-pattern>/Administration/NoticeBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPostAnnouncement</servlet-name>
        <url-pattern>/Administration/AdminPostAnnouncement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUploadAnnouncement</servlet-name>
        <url-pattern>/Administration/AdminUploadAnnouncement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiUpload</servlet-name>
        <url-pattern>/MultiUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Part</servlet-name>
        <url-pattern>/Part</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIndex</servlet-name>
        <url-pattern>/Administration/AdminIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilePath</servlet-name>
        <url-pattern>/FilePath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPostNewsEvent</servlet-name>
        <url-pattern>/Administration/AdminPostNewsEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMultiUploadNewsEvent</servlet-name>
        <url-pattern>/Administration/AdminMultiUploadNewsEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastestNews</servlet-name>
        <url-pattern>/LastestNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FullStory</servlet-name>
        <url-pattern>/FullStory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopupPage</servlet-name>
        <url-pattern>/PopupPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpload</servlet-name>
        <url-pattern>/MyUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllFiles</servlet-name>
        <url-pattern>/ViewAllFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUploads</servlet-name>
        <url-pattern>/MyUploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassUploadFile</servlet-name>
        <url-pattern>/ClassUploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.html</welcome-file>
    </welcome-file-list>
</web-app>
