
        .frameLeft
        {
            height:300px;
            width: 244px;
        }
        .frameRight
        {
            border-color:red;
            border-color:#ffffff;
            text-align:center;
        }
        .frameButton
        {
            height: 100px;
        }
table{
         /*width: 1010px;*/
         background:#FFFFFF;
        border-color:#06b;
}
#header{
background:#FFFFFF;
padding:5px;
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:0px;
-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:0px;
}
#wrapper{
border-left: 1px solid #AACBEE;
border-right: 1px solid #AACBEE;
border-bottom: 1px solid #AACBEE;
margin:0 auto;
width:1025px;
}

#banner{
   height:130px; 
   width: 1010px;
}
#Line{
   height:28px; 
   font: 11px arial,Arial Unicode MS;
   color:#343434;
   background-repeat:no-repeat;
   text-align: right;
}