
        .frameTop
        {
            height: 120px;
        }
        .frameLeft
        {
            height:500px;
            width: 250px;
        }
        .frameRight
        {
            
        }
        .frameButton
        {
            height: 100px;
        }